* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --darkmode-black: #1d2220;
    --darkmode-grey: #313835;
    --darkmode-lightgrey: #373f3c;
    --darkmode-green: #39916e;
}

body{
    display: flex;
    flex-direction: column;
    
}

header {
    width: 100vw;
    background-color: var(--darkmode-black);
   
    
}


h1{
    text-align: center;
    background-color: var(--darkmode-black);
    padding-bottom: 1%;
    color: #ffffff;
    font-size: 50px;
}

#mode {
    padding: 1%;
    border: none;
    font-size: 15px;
    margin: 20px 0px 0px 40px;
    cursor: pointer;
    background-color: var(--darkmode-black);
    color:#ffffff;
    
}

.buttons-editor {
    display: flex;
    justify-content: center;
    background-color: var(--darkmode-black);
    gap: 20px;

}

#btn-image, #btn-text {
    padding: 1%;
    border: none;
    font-size: 15px;
    cursor: pointer;
    background-color: var(--darkmode-black);
    color:#ffffff;
}




main {
    display: flex;
   /*  flex-grow: 1; */
}

section{
    background-color: var(--darkmode-grey);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.meme-container {
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    height: 600px;
    width:600px;
    align-items: center;
    justify-content: center;

    
}

.text-1 {
    background-color: #ffffff;
    height:90px;
    width: 100%;
    color: var(--darkmode-black);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    
}

.text-2 {
    background-color: #ffffff;
    height:90px;
    width: 100%;
    color: var(--darkmode-black);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.image-container{
    background-color: var(--darkmode-black);
    height: 420px;
    width: 100%;
}


#download {
    border: none;
    margin-top: 30px;
    padding: 20px;
    background-color: var(--darkmode-black);
    color:#ffffff;
}


/* ASIDE */

#img-editor {
    background-color: var(--darkmode-lightgrey);
    height:100vh;
    width: 300px;
    position: fixed;
    top: 0;
    right: 0;
    padding: 5px;
    gap: 10px;
    /* overflow: scroll; */
  
    
}

#txt-editor {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    background-color: var(--darkmode-lightgrey);
    height:100vh;
    width: 300px;
    position: fixed;
    top: 0;
    right: 0;
    padding: 15px;
    gap: 10px;
   /*  overflow: scroll; */
    
}

#top-txt, #bottom-txt, #font-type {
    width: 100%;
    height: 30px;
    font-size:17px;
   
}

.font-selector {
    display: flex;
 
   
}

.font-size {
    width: 50%;
    margin-top: 10px;
    height: 30px;
}

.text-align {
    display: flex;
    width: 50%;
    margin-top: 10px;
    height: 30px;

}

.align {
    width: 34%;
    margin-left: 5px;
}

.color-font-back {
    display: flex;
    
}






/*  APLICA PARA AMBOS ASIDE EN DARKMODE */

h2 {
    color: ffffff;
    font-size: 30px;
    margin: 50px 0px;
    align-self: center;
    background-color: aqua;
}

h3 {
    color: #ffffff;
    font-size: 15px;

} 

.input-top-txt, .input-bottom-txt, .font, .panel-color-back, 
.input-color-font, .input-color-back, .color-font, .color-back, 
.font-outline, .input-space, .input-line-spacing {
    width: 100%;
    background-color: #39916e;
    
}
